
.rectangle {
  /* border: black; */
  width: 8px;
  display: inline-block;  
  /* margin-left: px; */
  margin-right: 1px;
}

.titleContainer {
  background-color: rgba(91, 25, 177, 0.931) ;
  margin-top: -50px;
}

.rectangleContainer {
  text-align: center;
}

body {
  background-color: hsl(240, 100%, 97%) ;
}

h1 {
  font-size: 75px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.buttonContainer {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.buttons {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 8px;
}

.buttons:disabled {
  background-color: grey;
}

#specialButton {
  background-color: red;
}

.rangeContainer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 25%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider:disabled::-webkit-slider-thumb {
  background: grey;
}

.slider:disabled::-moz-range-thumb {
  background: grey;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


.descriptor {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: purple;
  /* size: 20%; */
}


.bottom {
  background-color: black;
  color: gold;
  font-size: 35px;
  text-align: center;
  height: 300px;
}



